RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.dom-tut\.by$ [NC]
RewriteRule ^(.*)$ http://dom-tut.by/ [R=301,L]
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<IfModule php5_module>
  php_value session.cookie_httponly true
</IfModule>

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

#Для скорости
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript text/css application/x-javascript
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4.0[678] no-gzip
BrowserMatch bMSIE !no-gzip !gzip-only-text/html